/*--------------------------------------------------------------
## All Color Variable
----------------------------------------------------------------*/
:root {
  --white: #fff;
  --black: #000;
  --heading-color: #222;
  --body-color: #636363;
  --accent-color: #2ea6f7;
  --blue-color: #002261;
  --gray-color: #e8edf0;
  --border-color: #dddddd;
  --heading-font: "Poppins", sans-serif;
  --body-font: "Rubik", sans-serif;
}

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
  // xxxl: 1500px,
);
